{{page-title 'LoginLogout'}}

<div class='main'>
  <div class='authentication-body-container ct2'>
    <div class='left-decoration-image ct3'>
      <img
        src='https://cdni.iconscout.com/illustration/premium/thumb/account-security-4438904-3726714.png?f=webp'
        alt=''
      />
    </div>
    <div class='right-auth-components ct3'>
      {{outlet}}
    </div>
  </div>
</div>